<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/normalize.css" rel="stylesheet" />
    <link href="~/css/Style.css" rel="stylesheet" />
    @* <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" /> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div style="text-align:right; margin:10px 20px 0 0;">
        <label class="night-switch">
            <input type="checkbox" id="nightModeToggle" />
            <span class="night-slider"></span>
        </label>
        <span style="margin-left:8px;">Night Mode</span>
    </div>
    <div class="container">
        <div class="page-content">

            <div class="margin-bottom">
                <div class="flex" id="top-bar-div">
                    <div class="flex-1" id="app-title-div">
                        <h1 class="app-title">
                            <i class="fa-solid fa-people-simple"></i>
                            Contact Manager
                        </h1>
                    </div>


                    <div class="flex-1 pr" id="search-box-div">
                        <div class="navbar account-links">

                            <ul>
                                <li>
                                    <a asp-controller="Account" asp-action="Register">Register</a>
                                    <a asp-controller="Account" asp-action="Login">Login</a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>


            <div class="navbar mb">

                <ul>
                    <li>
                        <a asp-controller="Persons" asp-action="Index">Persons</a>
                        <a asp-controller="Countries" asp-action="UploadFromExcel">Upload Countries</a>
                    </li>
                </ul>
            </div>

            <div class="body">
                @RenderBody()
            </div>
        </div>
    </div>

    <script>
                           document.addEventListener("DOMContentLoaded", function () {
                const toggle = document.getElementById("nightModeToggle");

                if (localStorage.getItem("nightMode") === "on") {
                    document.body.classList.add("night-mode");
                    if (toggle) toggle.checked = true;
                }

                if (toggle) {
                    toggle.addEventListener("change", function () {
                        if (this.checked) {
                            document.body.classList.add("night-mode");
                            localStorage.setItem("nightMode", "on");
                        } else {
                            document.body.classList.remove("night-mode");
                            localStorage.setItem("nightMode", "off");
                        }
                    });
                }
            });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>