@{
    ViewBag.Title = "Error";
}

<div class="error-div">
    <img src="~/Image/falloutBoyError.png"
         alt="Error Image"
         style="margin-top:20px; width: 12vw;" />
    <h1 class="app-title">Error</h1>
    <h2 class="text-red">@ViewBag.ErrorMessage</h2>

    
</div>